    body {
        margin: 0px;
    }
    
    nav {
        background-color: #5CB8E4;
        height: 50px;
        width: 1540px;
    }
    
    img {
        display: block;
        margin-left: 100px;
    }